@font-face {
    font-family: "MontSerrat";
    src: url("/src/font/Montserrat.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-family: "MontSerrat";
}
button {
    cursor: pointer;
    border: none;
}
.btn {
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: $fs-s;
    border-radius: 20px;
}
.btn-warning{
    background-color: $orange;
}
.btn-blue{
    background-color: $blue;
}