// Light themes
// 1) Shadow
$shadow-bold:1px 1px 3px rgba(84, 83, 83, 0.526);
$shadow-y:0px -1px 3px rgba(84, 83, 83, 0.526);
// 2) Color
$grey-icon:rgba(83, 78, 78, 0.819);
$dark:rgb(21, 8, 28);
$blue:rgba(34, 34, 186, 0.771);
$orange:rgba(255, 162, 0, 0.783);
// 3) Font-size
$fs-m:13px;
$fs-s:10px