.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    padding-block: 20px;
    box-shadow: $shadow-y;
    margin-inline: 10%;
}
.copyright {
    font-size: $fs-m;
}
.pagination button {
    margin-inline: 10px;
}